body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }
  
  select,
  input,
  button {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
  }

  .table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
  }

  table {
    margin: 0 auto;
    width: 100%;
  }

  th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
  }

  thead {
    background-color: #f2f2f2;
  }